* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Inter', sans-serif;
}

/* global class start */
.btn {
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: 600;
    background-color: #469165;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s all;
}

.btn:hover {
    background-color: #fff;
    color: #469165;
}

.btn-tr {
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s all;
}

.btn-tr:hover {
    background-color: #469165;
    border-color: #469165;
}

#header-container {
    max-width: 1600px;
    margin: 0px auto;
}

.ripple {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #10b981;
    box-shadow: 0 0 0 4px rgba(16, 185, 129, 0.3), 0 0 0 8px rgba(16, 185, 129, 0.15)
}


.nav-bar {
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
}

.nav-bar .logo img {
    width: 139px;
}

.nav-bar ul {
    display: flex;
    list-style: none;
    gap: 32px;
}

.nav-bar ul li a {
    display: block;
    line-height: 1;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
    padding: 5px 8px;
    transition: 0.2s all;
}

.nav-bar ul li a:hover {
    background-color: #469165;
    color: #fff;
    border-radius: 4px;
}

#banner-container {
    width: 100%;
    height: 674px;
    background: url('../images/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-align: center;
}

.banner-early {
    font-size: 16px;
    font-weight: 500;
    padding: 8px 12px;
    background-color: #fff;
    color: #469165;
    border-radius: 50px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.banner-headings h1 {
    font-size: 72px;
    line-height: 84px;
    color: #EAECEE;
}

.banner-headings span {
    color: #30AC66;
}

.banner-summary p {
    font-size: 18px;
    line-height: 32px;
    color: #fff;
}

.banner-button {
    display: flex;
    gap: 16px;
}

.banner-button button {
    padding: 16.5px 16px;
}

.banner-button button i {
    margin-left: 10px;
}

.card-section {
    max-width: 1600px;
    margin: 48px auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.section-title {
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}

.section-p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

.card-container {
    display: flex;
    gap: 24px;
}

.card-container .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 322px;
    height: 300px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 5px 0 #0000005d;
    margin-top: 44px;
    padding: 0px 24px;
}

.card .icon {
    width: 60px;
    height: 60px;
    background-color: #F95555;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.icon img {
    width: 32px;
    height: 32px;
}

.card-title h2 {
    font-size: 24px;
    color: #001931;
    font-weight: 600;
}

.card-title,
.card-details {
    text-align: center;
}

.brain-section {
    max-width: 1360px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    gap: 60px;
    margin-top: 120px;
}

.brain-section img {
    width: 600px;
    height: 600px;
    border-radius: 16px;
}

.brain-section p {
    margin-bottom: 16px;
}

.check-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 42px;
}

.check-item p {
    margin: 0;
    color: #001931;
    font-weight: 600;
    line-height: 20px;
}

.check-item i {
    color: #30AC66;
}

.check-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.think-section {
    background-color: #F7F6F2;
    max-width: 1360px;
    padding: 75px 0px;
    margin: 0px auto;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.think-section button {
    padding: 18px 25px;
}

.think-section button i {
    margin-left: 10px;
}

.think-section p {
    text-align: center;
    line-height: 24px;
}

.think-section .section-title {
    line-height: 1;
    margin: 0;
}

#footer-container {
    max-width: 1600px;
    margin: 0px auto;
    margin-top: 120px;
    background-color: #001931;
}

.main-footer {
    max-width: 1360px;
    margin: 0px auto;
    padding: 120px 0px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-section {
    margin-right: 107px;
}

.social-section p {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}

.social-section a {
    color: #001931;
    text-decoration: none;
    font-size: 16px;
    background: #fff;
    border-radius: 50%;
    padding: 3px;
    transition: 0.2s all;
}

.social-section a:hover {
    background-color: #469165;
    color: #fff;
}

.social-section .social-links {
    display: flex;
    gap: 5px;
}

.credit-footer {
    text-align: center;
    padding: 30px 0px;
}

.credit-footer p {
    color: #FAFAFA;
    font-size: 16px;
    line-height: 24px;
}