* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Inter', sans-serif;
}

/* global class start */
.btn {
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: 600;
    background-color: #469165;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s all;
}

.btn:hover {
    background-color: #fff;
    color: #469165;
}

.btn-tr {
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s all;
}

.btn-tr:hover {
    background-color: #469165;
    border-color: #469165;
}

#header-container {
    max-width: 1600px;
    margin: 0px auto;
}

.ripple {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #10b981;
    box-shadow: 0 0 0 4px rgba(16, 185, 129, 0.3), 0 0 0 8px rgba(16, 185, 129, 0.15)
}


.nav-bar {
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
}

.nav-bar .logo img {
    width: 139px;
}

.nav-bar ul {
    display: flex;
    list-style: none;
    gap: 32px;
}

.nav-bar ul li a {
    display: block;
    line-height: 1;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
    padding: 5px 8px;
    transition: 0.2s all;
}

.nav-bar ul li a:hover {
    background-color: #469165;
    color: #fff;
    border-radius: 4px;
}

#banner-container {
    width: 100%;
    height: 674px;
    background: url('../images/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-align: center;
}

.banner-early {
    font-size: 16px;
    font-weight: 500;
    padding: 8px 12px;
    background-color: #fff;
    color: #469165;
    border-radius: 50px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.banner-headings h1 {
    font-size: 72px;
    line-height: 84px;
    color: #EAECEE;
}

.banner-headings span {
    color: #30AC66;
}

.banner-summary p {
    font-size: 18px;
    line-height: 32px;
    color: #fff;
}

.banner-button {
    display: flex;
    gap: 16px;
}

.banner-button button {
    padding: 16.5px 16px;
}

.banner-button button i {
    margin-left: 10px;
}